In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
pd.pandas.set_option('display.max_columns',None)

In [2]:
df=pd.read_excel("Raw File.xlsx")
df1=pd.read_csv("Disbursement MIS (1).csv")
df2=pd.read_excel("Credit Parameter.xlsx")

In [3]:
df.head(3)

,Loan Disb Date,Loan No,LMS ID,Application ID,Customer Name,Branch,Loan Amt,Loan Period,EMI Amount,EMI Start Date,Loan Maturity date,Crif Score,Crif Score Band,Marital Status,Gender,Business Vintage,Vintage Band,Loan Amount Wise,STP,Score Card,Industry,Age,Age Band,2020-07-01 00:00:00,2020-08-01 00:00:00,Sept,2020-10-01 00:00:00,2020-11-01 00:00:00,2020-12-01 00:00:00,2021-01-01 00:00:00,2021-02-01 00:00:00,2021-03-01 00:00:00,2021-04-01 00:00:00,Due - July,Due Aug,Due Sept,Due Oct,Due Nov,Due Dec,Due Jan,Due Feb,Due Mar,Due Apr,Total Due,July,Aug,Sep,Oct,Nov,Dec,Jan,Feb,March,April,total bounce,bounce %age,Bounce
0,2020-06-25,BLPAN000005311,5311,NaN,Ashok Kumar,Panipat,50000,12,5417,2020-07-06,2021-06-05,300,< =500,married,Male,17,16-18,46 k - 50 k,Declined,Silver,Others,45,41-45,Cleared,Cleared,Bounced,Cleared,Cleared,Cleared,Bounced,Bounced,Bounced,Bounced,1,1,1,1,1,1,1,1,1,1,10,0,0,1,0,0,0,1,1,1,1,5,0.500000,Bounce
1,2020-07-07,BLPAN000005312,5312,NaN,PERMINDER SINGH,Panipat,50000,12,5417,2020-08-05,2021-07-05,620,501 - 630,married,Male,10,10-12,46 k - 50 k,Approved,Silver,Furnitures & Fixtures/Wood and Allied Activities,38,36-40,Not Due,Cleared,Bounced,Bounced,Bounced,Cleared,Bounced,Bounced,Bounced,Bounced,0,1,1,1,1,1,1,1,1,1,9,0,0,1,1,1,0,1,1,1,1,7,0.777778,Bounce
2,2020-07-07,BLBEN000005313,5313,NaN,PRABHU K,Bengaluru,50000,12,5417,2020-08-05,2021-07-05,16,NTC,married,Male,10,10-12,46 k - 50 k,Declined,Silver,Electrical appliances and services,48,46-50,Not Due,Cleared,Cleared,Cleared,Cleared,Cleared,Cleared,Cleared,Cleared,Cleared,0,1,1,1,1,1,1,1,1,1,9,0,0,0,0,0,0,0,0,0,0,0,0.000000,Cleared

In [4]:
df_para=pd.merge(df,df2,on='Loan No',how='left')
df_mis=pd.merge(df1,df2,on='Loan No',how='left')

In [5]:
df_para.head()

,Loan Disb Date,Loan No,LMS ID,Application ID,Customer Name,Branch,Loan Amt,Loan Period,EMI Amount,EMI Start Date,Loan Maturity date,Crif Score,Crif Score Band,Marital Status,Gender,Business Vintage,Vintage Band,Loan Amount Wise,STP,Score Card,Industry,Age_x,Age Band_x,2020-07-01 00:00:00,2020-08-01 00:00:00,Sept,2020-10-01 00:00:00,2020-11-01 00:00:00,2020-12-01 00:00:00,2021-01-01 00:00:00,2021-02-01 00:00:00,2021-03-01 00:00:00,2021-04-01 00:00:00,Due - July,Due Aug,Due Sept,Due Oct,Due Nov,Due Dec,Due Jan,Due Feb,Due Mar,Due Apr,Total Due,July,Aug,Sep,Oct,Nov,Dec,Jan,Feb,March,April,total bounce,bounce %age,Bounce,id,branch,active_account,act_amt_of_tradeline,psycho_score,customer_name,dob,Age_y,Age Band_y,mobile,add1,add2,add3,city,pin,residence_ownership,loan_amount,loan_tenure,industry,credit_score,Bureau Band,pan_number,business_name,years_in_business,Bussiness Band,martial_status,business_nature,applicant_category,add1.1,add2.1,add3.1,city.1,pin.1,business_premises_ownership,is_business_residence_same,brothers_sisters,spouse_parents,total_kids,existing_obligation,calculated_emi,response,active_account.1,type,foir,final_score,score_band,sanctioned_loan_amount,sanctioned_loan_tenure,logindate,disbursal_date,repayment_mode,applicant_type,stp,processing_time,gender,fa_name,credit_underwriter_name
0,2020-06-25,BLPAN000005311,5311,NaN,Ashok Kumar,Panipat,50000,12,5417,2020-07-06,2021-06-05,300,< =500,married,Male,17,16-18,46 k - 50 k,Declined,Silver,Others,45,41-45,Cleared,Cleared,Bounced,Cleared,Cleared,Cleared,Bounced,Bounced,Bounced,Bounced,1,1,1,1,1,1,1,1,1,1,10,0,0,1,0,0,0,1,1,1,1,5,0.500000,Bounce,5513,Panipat,3.0,30000.0,80.0,Ashok Kumar,1975-05-01 00:00:00,45,41 - 45,9812123920,H number 130 A,Vpo harsingh pura near choupal block 1,Gharunda,Karnal,132114,Owned,50000,12,Others,300,<631,CIEPK9280N,NaN,17,16 - 18,married,Services,Silver,Devi Mandir road,Wadhava ram colony near parsuram chowk,Panipat,Panipat,132103,Rented,0.0,0.0,2.0,3.0,NaN,NaN,"{""margin"":45,""monthly_turnover"":50000}",3.0,Voter ID,NaN,NaN,NaN,50000,12,2020-06-25 15:05:58,2020-06-25 18:34:02,Emandate,New,Approved,0d:3:28,male,Sagar Kumar,Sunny Singhal
1,2020-07-07,BLPAN000005312,5312,NaN,PERMINDER SINGH,Panipat,50000,12,5417,2020-08-05,2021-07-05,620,501 - 630,married,Male,10,10-12,46 k - 50 k,Approved,Silver,Furnitures & Fixtures/Wood and Allied Activities,38,36-40,Not Due,Cleared,Bounced,Bounced,Bounced,Cleared,Bounced,Bounced,Bounced,Bounced,0,1,1,1,1,1,1,1,1,1,9,0,0,1,1,1,0,1,1,1,1,7,0.777778,Bounce,5517,Panipat,3.0,55000.0,80.0,PERMINDER SINGH,1982-07-20 00:00:00,38,36 - 40,9896922403,H.number,8 marla,Panipat,Panipat,132103,Owned,50000,12,Furniture & Fixtures / Wood & Allied Activities,620,<631,ECIPS0053M,Delux musical store,10,10 - 12,married,Manufacturing,Silver,H.number,8 marla,Panipat,Panipat,132103,Owned,1.0,0.0,1.0,1.0,NaN,NaN,"{""contracts_in_month"":""5"",""monthly_turnover"":1...",3.0,Aadhar Card,NaN,NaN,NaN,50000,12,2020-07-07 16:48:53,2020-07-07 18:57:20,PDC,Repeat,Approved,0d:2:8,male,Sagar Kumar,Sunny Singhal
2,2020-07-07,BLBEN000005313,5313,NaN,PRABHU K,Bengaluru,50000,12,5417,2020-08-05,2021-07-05,16,NTC,married,Male,10,10-12,46 k - 50 k,Declined,Silver,Electrical appliances and services,48,46-50,Not Due,Cleared,Cleared,Cleared,Cleared,Cleared,Cleared,Cleared,Cleared,Cleared,0,1,1,1,1,1,1,1,1,1,9,0,0,0,0,0,0,0,0,0,0,0,0.000000,Cleared,5515,Bengaluru,1.0,30000.0,56.0,PRABHU K,1972-05-02 00:00:00,48,46 - 50,9620667843,"NO 61, 4TH CROSS ROAD GAJANANA NAGAR SUNKADAKATTE",VISHWANEEDAM POST,Bangalore North,Bangalore,560091,Rented,50000,12,Electrical appliances and services,16,<631,BZPPP0968R,VARALAKSHMI BATTERIES,10,10 - 12,married,Trading,Silver,NO 2 GROUND FLOOR OPP SHIVA TEMPLE,ANDRAHALLI MAIN ROAD,NaN,Bangalore,560091,Rented,NaN,0.0,1.0,2.0,NaN,NaN,"{""average_cost_per_repair"":""300"",""item_repair_...",1.0,Rent Agreement,NaN,NaN,NaN,50000,12,2020-07-07 16:06:51,2020-07-07 18:59:26,NACH,Repeat,Declined,0d:2:52,male,Nagesh S,Nagesh S
3,2020-07-08,BLPAN000005314,5314,NaN,RAHUL Kashyap,Panipat,50000,12,5417,2020-08-05,2021-07-05,653,631 - 700,married,Male,6,4-6,46 k - 50 k,Approved,Silver,"Mobile,Accessories and Repair",31,31-35,Not Due,Cleared,Cleared,Cleared,Bounced,Bounced,Bounced,Bounced,Bounced,Cleared,0,1,1,1,1,1,1,1,1,1,9,0,0,0,0,1,1,1,1,1,0,5,0.555556,Bounce,5516,Panipat,3.0,61520.0,67.0,RAHUL Kashyap,1989-11-04 00:00:00,31,31 - 35,9992877860,524 SANOLI ROAD VIDYANAND COLONY WARD NO 12,NaN,Panipat,Panipat,132103,Owned,50000,12,"Mobile, Accessories & Repairs",653,651 - 700,GXEPK1420B,NaN,6,4 - 6,married,Trading,Silver,Phelwan chowk near sagar communication,NaN,NaN,Panipat,132103,Owned,0.0,0.0,3.0,3.0,NaN,NaN,"{""supporting_staff"":1,""average_cost_per_repair...",3.0,Aadhar Card,NaN,NaN,NaN,50000,12,2020-07-07 16:35:17,2020-07-08 14:17:07,NACH,Repeat,Approved,0d:21:41,male,Sunny Singhal,Sunny Singhal
4,2020-07-10,BLBEN000005315,5315,NaN,JYOTHI V,Bengaluru,50000,9,6806,2020-08-05,2021-04-05,700,631 - 700,married,Female,12,10-12,46 k - 50 k,Approved,Silver,Footwear & Accessories,35,31-35,Not Due,Cleared,Cleared,Cleared,Cleared,Cleared,Cleared,Cleared,Cleared,Cleared,0,1,1,1,1,1,1,1,1,1,9,0,0,0,0,0,0,0,0,0,0,0,0.000000,Cleared,5521,Bengaluru,4.0,75500.0,NaN,JYOTHI V,1985-09-01 05:30:00,35,31 - 35,9945551778,NO 32 7TH CROSS 12TH MAIN,RAGHAVENDRA BLOCK NEAR R V TEMPLE,SRINAGAR Bangalore South,Bangalore,560050,Spouse,45000,9,Footwear & Accessories,700,651 - 700,AYCPJ7671C,MANJUNATHA FOOT WEAR,12,10 - 12,married,Trading,Silver,NO 281 RAMA ANJENAYA MAIN ROAD,SRINAGAR,NEAR SRINAGAR BUS STOP,Bangalore,560050,Rented,NaN,0.0,2.0,2.0,NaN,NaN,"{""daily_footfall_weekday"":""30"",""daily_footfall...",4.0,Aadhar Card,NaN,NaN,NaN,50000,9,2020-07-10 14:16:42,2020-07-10 18:52:41,Emandate,Repeat,Approved,0d:4:35,female,Sumithra S,Nagesh S

In [6]:
df_mis.head()

,Loan Disb Date,Loan No,LMS ID,Application ID,Customer Name,Branch,Bank Name,Bank Account No,IFSC Code,MICR,Industry,Lender or Debtor,Business Name,Account Type,Location (Bank Branch),Email ID,Repayment Mode,Disbursal Amt,Loan Amt,ROI,PF,Loan Period,EMI Amount,Insurance Amt,PF Amt,GST 18%,EMI Start Date,Loan Maturity date,Gender,Marital status,Residence address,City,State,Pincode,DOB,Mobile Number,FA Sourcing Name,Loan Status,Office address,Office address City,Office address State,Office address Pincode,Processed by Whom (Ops Maker) Approved by/submitted by,Closed On Date,id,branch,active_account,act_amt_of_tradeline,psycho_score,customer_name,dob,Age,Age Band,mobile,add1,add2,add3,city,pin,residence_ownership,loan_amount,loan_tenure,industry,credit_score,Bureau Band,pan_number,business_name,years_in_business,Bussiness Band,martial_status,business_nature,applicant_category,add1.1,add2.1,add3.1,city.1,pin.1,business_premises_ownership,is_business_residence_same,brothers_sisters,spouse_parents,total_kids,existing_obligation,calculated_emi,response,active_account.1,type,foir,final_score,score_band,sanctioned_loan_amount,sanctioned_loan_tenure,logindate,disbursal_date,repayment_mode,applicant_type,stp,processing_time,gender,fa_name,credit_underwriter_name
0,25-06-2020,BLPAN000005311,5311,NaN,Ashok Kumar,Panipat,Kotak Mahindra Bank,"""000000004712425052""",KKBK0000293,NaN,NaN,NaN,NaN,NaN,NaN,atashoktyagi@gmail.com,NACH,46730,50000,30,3,12,5417,1500,1500.0,270.0,06-07-2020,05-07-2021,Male,NaN,"H number 130 A,Vpo harsingh pura near choupal ...",Karnal,Haryana,132114,01-05-1975,9812123920,"Kumar, Sagar",Active,"Devi Mandir road ,Wadhava ram colony near pars...",Panipat,Haryana,132103,anuj.mittal,NaN,5513,Panipat,3.0,30000.0,80.0,Ashok Kumar,1975-05-01 00:00:00,45,41 - 45,9812123920,H number 130 A,Vpo harsingh pura near choupal block 1,Gharunda,Karnal,132114,Owned,50000,12,Others,300,<631,CIEPK9280N,NaN,17,16 - 18,married,Services,Silver,Devi Mandir road,Wadhava ram colony near parsuram chowk,Panipat,Panipat,132103,Rented,0.0,0.0,2.0,3.0,NaN,NaN,"{""margin"":45,""monthly_turnover"":50000}",3.0,Voter ID,NaN,NaN,NaN,50000,12,2020-06-25 15:05:58,2020-06-25 18:34:02,Emandate,New,Approved,0d:3:28,male,Sagar Kumar,Sunny Singhal
1,07-07-2020,BLPAN000005312,5312,NaN,PERMINDER SINGH,Panipat,Indian Overseas Bank,"""000286402000000312""",IOBA0002864,NaN,NaN,NaN,NaN,NaN,NaN,ps7527006@gmail.com,PDC,46730,50000,30,3,12,5417,1500,1500.0,270.0,05-08-2020,05-07-2021,Male,NaN,"H,NO 38 ,8 MARLA,,,",Panipat,Haryana,132103,20-07-1982,9896922403,"Kumar, Sagar",Active,"H,NO 38,8 MARLA PANIPAT,,,",PANIPAT,Haryana,132103,anuj.mittal,NaN,5517,Panipat,3.0,55000.0,80.0,PERMINDER SINGH,1982-07-20 00:00:00,38,36 - 40,9896922403,H.number,8 marla,Panipat,Panipat,132103,Owned,50000,12,Furniture & Fixtures / Wood & Allied Activities,620,<631,ECIPS0053M,Delux musical store,10,10 - 12,married,Manufacturing,Silver,H.number,8 marla,Panipat,Panipat,132103,Owned,1.0,0.0,1.0,1.0,NaN,NaN,"{""contracts_in_month"":""5"",""monthly_turnover"":1...",3.0,Aadhar Card,NaN,NaN,NaN,50000,12,2020-07-07 16:48:53,2020-07-07 18:57:20,PDC,Repeat,Approved,0d:2:8,male,Sagar Kumar,Sunny Singhal
2,07-07-2020,BLBEN000005313,5313,NaN,PRABHU K,Bengaluru,CANARA BANK,"""000002454118001261""",CNRB0002454,NaN,NaN,NaN,NaN,NaN,NaN,varalakshmik342@gmail.com,NACH,46730,50000,30,3,12,5417,1500,1500.0,270.0,05-08-2020,05-08-2021,Male,NaN,"NO 39,HINNAKKI HENNAGARA,JIGANI,",BENGALURU,Karnataka,560105,02-05-1972,9620667843,"K A, Kantharaja",Active,"VARALAKSHMI BATTERIES,OPP SHIVA TEMPLE,ANDRAHA...",BENGALURU,Karnataka,560091,anuj.mittal,NaN,5515,Bengaluru,1.0,30000.0,56.0,PRABHU K,1972-05-02 00:00:00,48,46 - 50,9620667843,"NO 61, 4TH CROSS ROAD GAJANANA NAGAR SUNKADAKATTE",VISHWANEEDAM POST,Bangalore North,Bangalore,560091,Rented,50000,12,Electrical appliances and services,16,<631,BZPPP0968R,VARALAKSHMI BATTERIES,10,10 - 12,married,Trading,Silver,NO 2 GROUND FLOOR OPP SHIVA TEMPLE,ANDRAHALLI MAIN ROAD,NaN,Bangalore,560091,Rented,NaN,0.0,1.0,2.0,NaN,NaN,"{""average_cost_per_repair"":""300"",""item_repair_...",1.0,Rent Agreement,NaN,NaN,NaN,50000,12,2020-07-07 16:06:51,2020-07-07 18:59:26,NACH,Repeat,Declined,0d:2:52,male,Nagesh S,Nagesh S
3,08-07-2020,BLPAN000005314,5314,NaN,RAHUL Kashyap,Panipat,Federal Bank,"""000015460100064160""",FDRL0001546,NaN,NaN,NaN,NaN,NaN,NaN,rahul1992kashyap@gmail.com,NACH,46730,50000,30,3,12,5417,1500,1500.0,270.0,05-08-2020,05-08-2021,Male,NaN,"524 SANOLI ROAD VIDYANAND COLONY WARD NO 12,,,",Panipat,Haryana,132103,04-11-1989,9992877860,"Kumar, Manoj",Active,"ASHOK VIHAR COLONY KUTANI ROAD,,,",PANIPAT,Haryana,132103,anuj.mittal,NaN,5516,Panipat,3.0,61520.0,67.0,RAHUL Kashyap,1989-11-04 00:00:00,31,31 - 35,9992877860,524 SANOLI ROAD VIDYANAND COLONY WARD NO 12,NaN,Panipat,Panipat,132103,Owned,50000,12,"Mobile, Accessories & Repairs",653,651 - 700,GXEPK1420B,NaN,6,4 - 6,married,Trading,Silver,Phelwan chowk near sagar communication,NaN,NaN,Panipat,132103,Owned,0.0,0.0,3.0,3.0,NaN,NaN,"{""supporting_staff"":1,""average_cost_per_repair...",3.0,Aadhar Card,NaN,NaN,NaN,50000,12,2020-07-07 16:35:17,2020-07-08 14:17:07,NACH,Repeat,Approved,0d:21:41,male,Sunny Singhal,Sunny Singhal
4,10-07-2020,BLBEN000005315,5315,NaN,JYOTHI V,Bengaluru,Kotak Mahindra Bank,"""000000005613713309""",KKBK0008063,NaN,NaN,NaN,NaN,NaN,NaN,dhureshbj80@gmail.com,NACH,46730,50000,30,3,9,6806,1500,1500.0,270.0,05-08-2020,05-04-2021,Female,NaN,"NO 32, 7TH CROSS, 12TH MAIN, RAGHAVENDRA LAYOU...",Bengaluru,Karnataka,560050,01-09-1985,9945551778,"S, Sumithra",Closed,"NO 281, 20TH MAIN ROAD, RAMANJENEYA ROAD, SRIN...",BANGALORE,Karnataka,560058,anuj.mittal,05-04-2021,5521,Bengaluru,4.0,75500.0,NaN,JYOTHI V,1985-09-01 05:30:00,35,31 - 35,9945551778,NO 32 7TH CROSS 12TH MAIN,RAGHAVENDRA BLOCK NEAR R V TEMPLE,SRINAGAR Bangalore South,Bangalore,560050,Spouse,45000,9,Footwear & Accessories,700,651 - 700,AYCPJ7671C,MANJUNATHA FOOT WEAR,12,10 - 12,married,Trading,Silver,NO 281 RAMA ANJENAYA MAIN ROAD,SRINAGAR,NEAR SRINAGAR BUS STOP,Bangalore,560050,Rented,NaN,0.0,2.0,2.0,NaN,NaN,"{""daily_footfall_weekday"":""30"",""daily_footfall...",4.0,Aadhar Card,NaN,NaN,NaN,50000,9,2020-07-10 14:16:42,2020-07-10 18:52:41,Emandate,Repeat,Approved,0d:4:35,female,Sumithra S,Nagesh S

In [7]:
df_mis_age=df_mis[(df_mis['Age']<=25)]
df_mis_age['Age Band'].value_counts()

20 - 25    704
<20          1
Name: Age Band, dtype: int64

In [8]:
df_para_age=df_para[(df_para['Age_x']<=25) & (df_para['total bounce'] != 0)]
df_para_age['Age Band_x'].value_counts()

20-25    370
Name: Age Band_x, dtype: int64

In [9]:
df_mis_age['Bureau Band'].value_counts()

<631         203
NTC          181
701 - 750    168
651 - 700     87
>800          27
751- 800      20
631- 650      19
Name: Bureau Band, dtype: int64

In [10]:
df_para_age['Bureau Band'].value_counts()

<631         114
NTC          101
701 - 750     75
651 - 700     42
>800          14
751- 800      12
631- 650      12
Name: Bureau Band, dtype: int64

In [11]:
df_mis_age['Branch'].value_counts()

Jaipur             104
Sonipat             94
Panipat             88
Tumkur              62
Delhi               57
Bengaluru           55
Mumbai              49
Karnal              48
Kurukshetra         32
Dehradun            30
Haridwar            30
Roorkee             17
Hubli               12
West Bengaluru       7
Mysuru               6
Dharwad              5
Shimoga              4
Nashik               2
North Bengaluru      2
Belgaum              1
Name: Branch, dtype: int64

In [12]:
df_para_age['Branch'].value_counts().nlargest(5)

Sonipat      59
Jaipur       51
Panipat      40
Bengaluru    37
Tumkur       30
Name: Branch, dtype: int64

In [13]:
df_para_age['Branch'].value_counts()/df_mis_age['Branch'].value_counts()

Belgaum            1.000000
Bengaluru          0.672727
Dehradun           0.766667
Delhi              0.508772
Dharwad            0.400000
Haridwar           0.600000
Hubli              0.333333
Jaipur             0.490385
Karnal             0.604167
Kurukshetra        0.406250
Mumbai             0.367347
Mysuru             0.333333
Nashik                  NaN
North Bengaluru         NaN
Panipat            0.454545
Roorkee            0.705882
Shimoga            0.500000
Sonipat            0.627660
Tumkur             0.483871
West Bengaluru          NaN
Name: Branch, dtype: float64

In [14]:
df_mis_age['industry'].value_counts().nlargest(10)

Others                                176
General / Grocery Stores              102
Garment Shop                           54
Dairy Booth                            36
Salon/ Beauty Parlour                  31
Electrical appliances and services     27
Restaurant / Snacks                    26
Mobile, Accessories & Repairs          25
Automobile Repair & Services           24
Tailor / Boutique                      22
Name: industry, dtype: int64

In [15]:
df_para_age['industry'].value_counts().nlargest(10)

Others                                101
General / Grocery Stores               54
Garment Shop                           30
Dairy Booth                            18
Electrical appliances and services     18
Restaurant / Snacks                    17
Salon/ Beauty Parlour                  16
Automobile Repair & Services           12
Tailor / Boutique                      11
Food / Cattle Feeds                     9
Name: industry, dtype: int64

In [16]:
(df_para_age['industry'].value_counts().nlargest(7)/df_mis_age['industry'].value_counts().nlargest(7))*100

Dairy Booth                           50.000000
Electrical appliances and services    66.666667
Garment Shop                          55.555556
General / Grocery Stores              52.941176
Others                                57.386364
Restaurant / Snacks                   65.384615
Salon/ Beauty Parlour                 51.612903
Name: industry, dtype: float64

In [17]:
df_para_age['applicant_category'].value_counts()

Silver      158
Gold        108
Platinum     74
Reject       30
Name: applicant_category, dtype: int64

In [18]:
df_mis_age['applicant_category'].value_counts()

Silver      276
Gold        218
Platinum    136
Reject       75
Name: applicant_category, dtype: int64

In [19]:
(df_para_age['applicant_category'].value_counts()/df_mis_age['applicant_category'].value_counts())*100

Silver      57.246377
Gold        49.541284
Platinum    54.411765
Reject      40.000000
Name: applicant_category, dtype: float64

In [20]:
df_mis_age.head(3)

,Loan Disb Date,Loan No,LMS ID,Application ID,Customer Name,Branch,Bank Name,Bank Account No,IFSC Code,MICR,Industry,Lender or Debtor,Business Name,Account Type,Location (Bank Branch),Email ID,Repayment Mode,Disbursal Amt,Loan Amt,ROI,PF,Loan Period,EMI Amount,Insurance Amt,PF Amt,GST 18%,EMI Start Date,Loan Maturity date,Gender,Marital status,Residence address,City,State,Pincode,DOB,Mobile Number,FA Sourcing Name,Loan Status,Office address,Office address City,Office address State,Office address Pincode,Processed by Whom (Ops Maker) Approved by/submitted by,Closed On Date,id,branch,active_account,act_amt_of_tradeline,psycho_score,customer_name,dob,Age,Age Band,mobile,add1,add2,add3,city,pin,residence_ownership,loan_amount,loan_tenure,industry,credit_score,Bureau Band,pan_number,business_name,years_in_business,Bussiness Band,martial_status,business_nature,applicant_category,add1.1,add2.1,add3.1,city.1,pin.1,business_premises_ownership,is_business_residence_same,brothers_sisters,spouse_parents,total_kids,existing_obligation,calculated_emi,response,active_account.1,type,foir,final_score,score_band,sanctioned_loan_amount,sanctioned_loan_tenure,logindate,disbursal_date,repayment_mode,applicant_type,stp,processing_time,gender,fa_name,credit_underwriter_name
9,22-07-2020,BLKUR000005320,5320,NaN,PARAS DHAWAN,Kurukshetra,Union Bank of India,"""000386202010464494""",UBIN0538621,NaN,NaN,NaN,NaN,NaN,NaN,premdhawan65@gmail.com,NACH,32561,35000,30,3,9,4764,1200,1050.0,189.0,05-08-2020,05-04-2021,Male,NaN,"372/22,INDRA COLONY,Thanesar,",Kurukshetra,Haryana,136118,05-08-1996,8950067938,"Singh, Simranjeet",Closed,"CAR SHOPPEE,NEAR ANKUR NURSING HOME,RAILWAY RO...",Kurukshetra,Haryana,136118,nagesh.s,05-04-2021,5547,Kurukshetra,1.0,50000.0,63.0,PARAS DHAWAN,1996-08-05 05:30:00,24,20 - 25,8950067938,372/22,INDRA COLONY,Thanesar,Kurukshetra,136118,Rented,50000,12,Others,738,701 - 750,DPFPD5966B,CAR SHOPPEE,30,>21,single,Manufacturing,Silver,CAR SHOPPEE,NEAR ANKUR NURSING HOME,RAILWAY ROAD,Kurukshetra,136118,Owned,NaN,0.0,1.0,0.0,NaN,NaN,"{""margin"":50,""monthly_turnover"":100000}",1.0,Aadhar Card,NaN,NaN,NaN,35000,9,2020-07-20 11:07:32,2020-07-22 19:22:02,NACH,New,Approved,2d:8:14,male,Simranjeet Singh,Ankit Grover
11,24-07-2020,BLKUR000005322,5322,5587,BALJINDER SINGH,Kurukshetra,ICICI Bank,"""000000249301502781""",ICIC0002493,NaN,NaN,NaN,NaN,NaN,NaN,baljindersinghkkr95@gmail.com,NACH,22620,25000,30,4,9,3403,1200,1000.0,180.0,05-08-2020,05-04-2021,Male,NaN,"DEVIDASS PURA,THANESAR,Thanesar,",Kurukshetra,Haryana,136118,04-07-1995,7355892291,"Singh, Simranjeet",Active,"PIPLI,KARNAL ROAD,NEAR NEELKANTH COLONY,",Kurukshetra,Haryana,136118,nagesh.s,NaN,5587,Kurukshetra,0.0,0.0,74.0,BALJINDER SINGH,1995-07-04 05:30:00,25,20 - 25,7355892291,DEVIDASS PURA,THANESAR,Thanesar,Kurukshetra,136118,Owned,30000,9,Automobile Repair & Services,0,NTC,JWXPS2135A,GURU NANAK MOTOR GARRAGE,5,4 - 6,married,Services,Gold,PIPLI,KARNAL ROAD,NEAR NEELKANTH COLONY,Kurukshetra,136118,Rented,NaN,0.0,1.0,1.0,NaN,NaN,"{""monthly_spare_part_sale"":""70000"",""daily_foot...",0.0,Aadhar Card,NaN,NaN,NaN,25000,9,2020-07-23 10:37:42,2020-07-24 15:41:46,Emandate,New,Declined,1d:5:4,male,Simranjeet Singh,Ankit Grover
15,24-07-2020,BLPAN000005326,5326,5609,NITIN KUMAR,Panipat,Canara Bank,"""000002032101015965""",CNRB0002032,NaN,NaN,NaN,NaN,NaN,NaN,nitincomm309@gmail.com,NACH,27438,30000,30,3,9,4084,1500,900.0,162.0,05-08-2020,05-04-2021,Male,NaN,"H,NO -594 , SHIV SHAKTI MARKIT,SHAKTI MARKET ...",PANIPAT,Haryana,132103,01-05-1997,9896464055,"Jaglan, Pradeep",Closed,"BABARPUR MANDI NEAR,GT ROAD PANIPAT,,",PANIPAT,Haryana,132103,nagesh.s,05-04-2021,5609,Panipat,2.0,20000.0,NaN,Nitin Kumar,1997-05-01 00:00:00,23,20 - 25,9896464055,H no 594,Shiv Shakti market gali no 2,Panipat,Panipat,132103,Owned,30000,9,"Mobile, Accessories & Repairs",17,<631,EZGPK4112J,Nikita communication,12,10 - 12,married,Trading,Gold,Babarpur mandi,Near Chugh floor mill,NaN,Panipat,132103,Rented,NaN,1.0,3.0,2.0,NaN,NaN,"{""supporting_staff"":0,""average_cost_per_repair...",2.0,Passport,NaN,NaN,NaN,30000,9,2020-07-24 11:31:40,2020-07-24 19:04:26,NACH,Repeat,Approved,0d:7:32,male,Ankush Singh,Sunny Singhal

In [26]:
df_mis_age[(df_mis_age['business_premises_ownership']=='Rented')]['business_premises_ownership'].value_counts()
df_para_age[(df_para_age['business_premises_ownership']=='Rented')]['business_premises_ownership'].value_counts()

Rented    247
Name: business_premises_ownership, dtype: int64

In [30]:
df_mis_age[(df_mis_age['residence_ownership']=='Rented')]['residence_ownership'].value_counts()
df_para_age[(df_para_age['residence_ownership']=='Rented')]['residence_ownership'].value_counts()

Rented    63
Name: residence_ownership, dtype: int64

In [33]:
df_mis_age[(df_mis_age['business_premises_ownership']=='Rented')&(df_mis_age['residence_ownership']=='Rented')]['business_premises_ownership'].value_counts()
df_para_age[(df_para_age['business_premises_ownership']=='Rented')&(df_para_age['residence_ownership']=='Rented')]['business_premises_ownership'].value_counts()

Rented    138
Name: business_premises_ownership, dtype: int64

In [40]:
df_para_age.groupby(['business_premises_ownership','residence_ownership','Bureau Band']).agg({'Bureau Band':'count'})

                                                             Bureau Band
business_premises_ownership residence_ownership Bureau Band
Owned                       Owned               631- 650               1
                                                651 - 700             17
                                                701 - 750             25
                                                751- 800               3
                                                <631                  24
                                                >800                   5
                                                NTC                   29
                            Parental            651 - 700              2
                                                701 - 750              1
                            Rented              701 - 750              1
                                                <631                   1
Parental                    Owned               701 - 750              1
                                                751- 800               1
                            Parental            631- 650               1
                                                651 - 700              1
                                                701 - 750              1
                                                <631                   7
                                                NTC                    2
Rented                      Owned               631- 650               2
                                                651 - 700             10
                                                701 - 750             29
                                                751- 800               4
                                                <631                  46
                                                >800                   6
                                                NTC                   48
                            Parental            631- 650               3
                                                651 - 700              5
                                                701 - 750              6
                                                751- 800               1
                                                <631                  15
                                                >800                   1
                                                NTC                    9
                            Rented              631- 650               5
                                                651 - 700              7
                                                701 - 750             11
                                                751- 800               3
                                                <631                  20
                                                >800                   2
                                                NTC                   13

In [41]:
df_mis_age.groupby(['business_premises_ownership','residence_ownership','Bureau Band']).agg({'Bureau Band':'count'})

                                                             Bureau Band
business_premises_ownership residence_ownership Bureau Band
Owned                       Owned               631- 650               1
                                                651 - 700             28
                                                701 - 750             49
                                                751- 800               3
                                                <631                  43
                                                >800                   8
                                                NTC                   44
                            Parental            651 - 700              2
                                                701 - 750              1
                            Rented              701 - 750              2
                                                <631                   1
Parental                    Owned               701 - 750              1
                                                751- 800               1
                            Parental            631- 650               2
                                                651 - 700              2
                                                701 - 750              1
                                                751- 800               1
                                                <631                  12
                                                >800                   2
                                                NTC                    4
Rented                      Owned               631- 650               5
                                                651 - 700             22
                                                701 - 750             61
                                                751- 800               8
                                                <631                  73
                                                >800                  13
                                                NTC                   90
                            Parental            631- 650               5
                                                651 - 700             15
                                                701 - 750             16
                                                751- 800               1
                                                <631                  28
                                                >800                   2
                                                NTC                   16
                            Rented              631- 650               6
                                                651 - 700             17
                                                701 - 750             35
                                                751- 800               6
                                                <631                  45
                                                >800                   2
                                                NTC                   27
                            Spouse              701 - 750              1
Spouse                      Spouse              701 - 750              1

In [43]:
df_para_age.groupby(['business_premises_ownership','residence_ownership','Branch']).agg({'Branch':'count'})

                                                             Branch
business_premises_ownership residence_ownership Branch
Owned                       Owned               Bengaluru         1
                                                Dehradun         11
                                                Delhi             7
                                                Haridwar         13
                                                Jaipur            3
                                                Karnal            8
                                                Kurukshetra       2
                                                Mumbai            4
                                                Panipat          16
                                                Roorkee           5
                                                Sonipat          32
                                                Tumkur            2
                            Parental            Dehradun          1
                                                Roorkee           2
                            Rented              Karnal            1
                                                Mumbai            1
Parental                    Owned               Karnal            1
                                                Panipat           1
                            Parental            Dehradun          1
                                                Delhi             2
                                                Jaipur            5
                                                Karnal            3
                                                Roorkee           1
Rented                      Owned               Belgaum           1
                                                Bengaluru         5
                                                Dehradun         10
                                                Delhi            15
                                                Dharwad           1
                                                Haridwar          4
                                                Hubli             2
                                                Jaipur           10
                                                Karnal           12
                                                Kurukshetra      11
                                                Mumbai            5
                                                Mysuru            2
                                                Panipat          22
                                                Roorkee           1
                                                Shimoga           1
                                                Sonipat          27
                                                Tumkur           16
                            Parental            Bengaluru         2
                                                Haridwar          1
                                                Hubli             1
                                                Jaipur           24
                                                Karnal            4
                                                Mumbai            3
                                                Panipat           1
                                                Roorkee           3
                                                Tumkur            1
                            Rented              Bengaluru        29
                                                Delhi             5
                                                Dharwad           1
                                                Hubli             1
                                                Jaipur            8
                                                Mumbai            5
                                                Shimoga           1
                                                Tumkur           11

In [45]:
df_mis_age.groupby(['business_premises_ownership','residence_ownership','Branch']).agg({'Branch':'count'})

                                                                Branch
business_premises_ownership residence_ownership Branch
Owned                       Owned               Bengaluru            2
                                                Dehradun            12
                                                Delhi               14
                                                Haridwar            19
                                                Jaipur               5
...                                                                ...
Rented                      Rented              Shimoga              2
                                                Tumkur              19
                                                West Bengaluru       5
                            Spouse              West Bengaluru       1
Spouse                      Spouse              West Bengaluru       1

[72 rows x 1 columns]